Repository cse110-sp21-group31/cse110-sp21-group31, pull requests merged in 2021-06, with the labels that each got.

#114 Media
  source/daily_log.html
  source/js/date.js
  source/js/media.js
  source/js/navigation.js
  source/js/storage.js
  source/style.css
Labels: JavaScript, css, daily-log, enhancement, html

#107 Weekly containers
  source/js/date.js
  source/js/weekly_navigation.js
  source/style.css
  source/weekly_log.html
Labels: JavaScript, css, enhancement, weekly-log

#118 put input back inside label
  source/daily_log.html
Labels: bug, css, daily-log

#121 Fix docs
  .gitignore
  source/js/components/sortEvents.js
  source/out/js_weekly_navigation.js.html
Labels: bug

#116 Notepad storage
  source/js/main.js
  source/js/navigation.js
  source/js/storage.js
Labels: JavaScript, daily-log, enhancement

#123 Clock tags area
  source/daily_log.html
  source/style.css
Labels: bug, css, daily-log

#124 fix invalid date issue
  source/js/main.js
Labels: JavaScript, bug

#131 fixed sizing issue with notepad. also disabled scrollbar
  source/style.css
Labels: bug, css, daily-log

#133 Weekly event styling
  source/js/weekly_navigation.js
  source/style.css
  source/weekly_log.html
Labels: css, weekly-log

#134 Added logo and favicon
  admin/branding/real_logo.png
  source/daily_log.html
  source/style.css
Labels: css, daily-log, enhancement

#135 removed scrollbars from task and event sections in daily log
  source/style.css
Labels: css, daily-log

#132 Weekly task sizing
  source/js/weekly_navigation.js
  source/style.css
  source/weekly_log.html
Labels: bug, weekly-log

#137 change widths of overlapping events
  source/js/components/sortEvents.js
  source/js/weekly_navigation.js
Labels: weekly-log

#139 changed sidebar properties to blur
  source/style.css
  source/weekly_log.html
Labels: css

#138 Favicon logo fixes
  source/daily_log.html
  source/images/favicon.png
  source/images/logo.png
  source/index.html
  source/style.css
  source/weekly_log.html
Labels: bug, css, daily-log
